<% extend("../app.ejs") %>
    <section class="detail-nav">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="menu-title text-decoration-none">
                            <a href="/" class="text-decoration-none">
                                <img class="menu-nav" src="/images/background/smile.png" alt="logo ảnh">
                                <span class="text-decoration-none"><b>Doctors care</b></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-8 d-flex flex-row justify-content-center align-self-center menu-type">
                        <span class="d-block"><a href="/" class="text-decoration-none"><b>Trang chủ</b></a></span>
                        <span class="d-block mx-5"><a href="/for-patients" class="text-decoration-none"><b>Dành cho bệnh
                                    nhân</b></a></span>
                        <span class="d-block"><a href="/for-doctors" class="text-decoration-none"><b>Dành cho bác
                                    sĩ</b></a></span>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span><a href="https://www.facebook.com/profile.php?id=61575172705823" target="_blank"
                                class="text-decoration-none"><b>Cần hỗ trợ?</b></a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="detail-info-specialization">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-3">
                        <a class="text-decoration-none" href="/"><b>Trang chủ</b></a><span
                            aria-hidden="true">&raquo;</span>
                        <span style="text-transform: uppercase">
                            Danh sách bài viết
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="detail-all-posts mt-3">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-8 ">
                        <h2></h2>
                        
                        <hr>
                        
                        <div id="list-posts-client">
                            <% handbooks.forEach(function(handbook) { %>
                                <a class="text-decoration-none" href="/handbook/<%= handbook.id %>">
                                    <div class=" mb-5 d-flex flex-row">
                                        <div class="img-post col-4">
                                            <img
                                                src="https://thietbikythuat.com.vn/wp-content/uploads/2021/01/linh-vuc-y-te-768x534.jpg">
                                        </div>
                                        <div class="col-8 d-flex flex-column">
                                            <h3 class="show-title-post">
                                                <%= handbook.title %>
                                            </h3>
                                            <div class="show-content-post" style="color: black">
                                                <%= striptags(handbook.contentHTML) %>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <% }) %>
                        </div>
                        
                        <nav aria-label="navigation" id="paginationHandbook" data-total="<%= total %>">
                            <ul class="pagination">
                                <li class="page-item disabled li-pre-client">
                                    <a class="page-link page-handbook-pre-client" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo; Trang trước</span>
                                    </a>
                                </li>

                                <li class="page-item ml-3 li-next-client">
                                    <a class="page-link page-handbook-next-client" href="#" aria-label="Next">
                                        <span aria-hidden="true">Trang sau &raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <% if (total > 1) { %>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <% for(let i = 1; i <= total; i++) { %>
                                        <li class="page-item <%= (typeof current !== 'undefined' && i == current) ? 'active' : '' %>">
                                            <% if (typeof isSearchResults !== 'undefined' && isSearchResults) { %>
                                                <a class="page-link" href="/handbook/search?q=<%= searchTerm %>&page=<%= i %>"><%= i %></a>
                                            <% } else { %>
                                                <a class="page-link" href="/all-handbook?page=<%= i %>"><%= i %></a>
                                            <% } %>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>
                        <% } %>
                    </div>
                    <div class="col-4 mt-3">
                        <input type="text" class="form-control" id="searchPostClient"
                            placeholder="Tìm kiếm bài viết...">
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                showHandbooksForUsers();
            });

            function showHandbooksForUsers() {
                if (total === 1) {
                    $('.li-next-client').addClass('disabled');
                }

                $('.page-handbook-next-client').on('click', function (e) {
                    e.preventDefault();
                    if (currentPage >= total) return;
                    currentPage++;
                    $('.li-pre-client').removeClass('disabled');
                    if (currentPage === total) {
                        $('.li-next-client').addClass('disabled');
                    }
                    generateHandbookPagination(currentPage);
                });

                $('.page-handbook-pre-client').on('click', function (e) {
                    e.preventDefault();
                    if (currentPage <= 1) return;
                    currentPage--;
                    $('.li-next-client').removeClass('disabled');
                    if (currentPage === 1) {
                        $('.li-pre-client').addClass('disabled');
                    }
                    generateHandbookPagination(currentPage);
                });
            }

            function generateHandbookPagination(page) {
                $.ajax({
                    url: `/supporter/pagination/handbooks?page=${page}`,
                    method: 'GET',
                    success: function (data) {
                        $("#list-posts-client").empty();
                        let html = '';
                        data.handbooks.rows.forEach((handbook) => {
                            html += `
                            <a class="text-decoration-none" href="/handbook/${handbook.id}">
                                <div class=" mb-5 d-flex flex-row">
                                    <div class="img-post col-4">
                                        <img src="https://thietbikythuat.com.vn/wp-content/uploads/2021/01/linh-vuc-y-te-768x534.jpg">
                                    </div>
                                    <div class="col-8 d-flex flex-column">
                                        <h3 class="show-title-post">${handbook.title}</h3>
                                        <div class="show-content-post" style="color: black">
                                            ${handbook.contentHTML.replace(/<\/?[^>]+(>|$)/g, "")}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        `;
                        });
                        $("#list-posts-client").append(html);
                    },
                    error: function (err) {
                        alert("Lỗi khi tải dữ liệu.");
                        console.log(err);
                    }
                });
            }
        </script>